<p id="notice"><%= notice %></p>

<h1>Oscillatorsynths</h1>

<table>
  <thead>
    <tr>
      <th>Frequency</th>
      <th>Wave</th>
      <th>Detune</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oscillatorsynths.each do |oscillatorsynth| %>
      <tr>
        <td><%= oscillatorsynth.frequency %></td>
        <td><%= oscillatorsynth.wave %></td>
        <td><%= oscillatorsynth.detune %></td>
        <td><%= link_to 'Show', oscillatorsynth %></td>
        <td><%= link_to 'Edit', edit_oscillatorsynth_path(oscillatorsynth) %></td>
        <td><%= link_to 'Destroy', oscillatorsynth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oscillatorsynth', new_oscillatorsynth_path %>
