<%= form_with(model: oscillatorsynth, local: true) do |form| %>
  <% if oscillatorsynth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oscillatorsynth.errors.count, "error") %> prohibited this oscillatorsynth from being saved:</h2>

      <ul>
        <% oscillatorsynth.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.number_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :wave %>
    <%= form.text_field :wave %>
  </div>

  <div class="field">
    <%= form.label :detune %>
    <%= form.number_field :detune %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
